---
import logo from "../../images/24x24.svg";
import { ElementiTopBar } from "./elementiTopBar";
import { HamburgerMobile } from "../hambugerMobile/hamburgerMobile";
import { SelezionaTema } from "./selezionaTema";
---

<div class="barraTop">
  <div class="wrapper">
    <div class="logo">
      <a href="/">
        <img src={logo} alt="Logo Edoardo" />
      </a>
    </div>

    <div class="elementiSinistra">
      <div class="pc">
        <ElementiTopBar client:visible />
      </div>
    </div>

    <div class="elementiDestra">
      <div class="elemento">
        <SelezionaTema client:idle />
      </div>
      <div class="mobile">
        <HamburgerMobile client:visible />
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  @import "../../scss/variabili.scss";

  .barraTop {
    .logo {
      height: 100%;
      margin-right: 1rem;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .elementiDestra {
    display: flex;
  }

  .wrapper {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    vertical-align: middle;
    height: $altezzaBarra;
    position: sticky;
    border: 1px solid $coloreBordoGrigio;
    padding: 0.5rem;
    border-bottom: 1px solid #d0d0d0;
    @include paddingGenerale;

    @include scuro {
      background-color: $coloreSfondoPiuChiaroScuro;
      border: 1px solid rgb(31, 31, 31);
    }
  }

  .mobile {
    display: none;
  }

  .elementiSinistra {
    width: 100%;
  }

  @media screen and (max-width: "768px") {
    .pc {
      display: none;
    }

    .mobile {
      float: right;
      display: flex;
      margin-left: 1rem;
    }
  }
</style>
