<div
    class="wrapper"
    style={{
      backgroundColor: "#030413",
      height: "100vh",
      display: "flex",
      flexDirection: "column",
      justifyContent: "center",
      alignItems: "center",
      textAlign: "center",
    }}
  >
    <span class="titoloSezione">La vita è vita</span>
    <span class="sottotitolo">Madre Teresa di Calcutta</span>
  </div>

  <style lang="scss">
    .wrapper {
      backgroundcolor: #030413;
      height: 100vh;
      display: flex;
      flexdirection: column;
      justifycontent: center;
      alignitems: center;
      textalign: center;
    }
  
    .titoloSezione {
      font-size: 3em;
      color: white;
      fontsize: 20%;
    }
  
    .sottotitolo {
      fontstyle: oblique;
      color: #c4c4c4;
    }
  </style>
  