---
import { ListaAppunti } from "../../components/ordinaAppunti/listaAppunti";
import { CreaArrayAppunti } from "../../functions/archivioAppunti";
import LarchivioAppunti from "../../layouts/LarchivioAppunti.astro";
import type { PostPreviewType } from "../../types/types";

export function getStaticPaths() {
	return [
		{
			params: { materia: "sistemi-operativi" },
			props: { titolo: "Sistemi Operativi" },
		},
		{ params: { materia: "probabilita" }, props: { titolo: "Probabilità 🎲" } },
		{
			params: { materia: "compilatore" },
			props: { titolo: "Linguaggi formali" },
		},
		{
			params: { materia: "sistemi-operativi-lab" },
			props: { titolo: "Sistemi operativi LAB" },
		},
	];
}

const { materia } = Astro.params;
const { titolo } = Astro.props;

let cartella: Record<string, any>[] = [];
let esercizi: Record<string, any>[] = [];
switch (materia) {
	//
	case "sistemi-operativi":
		cartella = await Astro.glob("./sistemi-operativi/*.mdx");
		break;

	case "probabilita":
		cartella = await Astro.glob("./probabilita/*.mdx");
		esercizi = await Astro.glob("./probabilita/esercizi/*.mdx");
		break;

	case "compilatore":
		cartella = await Astro.glob("./compilatore/*.mdx");
		break;

	case "sistemi-operativi-lab":
		cartella = await Astro.glob("./sistemi-operativi-lab/*.mdx");
		break;

	case "C":
		cartella = await Astro.glob("./C/*.mdx");
		break;
}

const array: PostPreviewType[] = await CreaArrayAppunti(cartella);
---

<LarchivioAppunti titoloMateria={titolo}>
	{
		cartella.length <= 0 ? (
			<div>
				<h2>Non ho ancora crato nulla a quanto pare 😁</h2>
			</div>
		) : (
			<ListaAppunti posts={array} client:idle />
		)
	}
</LarchivioAppunti>
