---
import Home from "../components/home.astro";
import LConTopBar from "../layouts/LConTopBar.astro";
import IlWebVeloce from "../components/ilWebComeDovrebbeEssere/ilWebVeloce.astro";
---

<LConTopBar title="Edoardo Balzano">
  <main>
    <Home />
    <IlWebVeloce />
  </main>
</LConTopBar>

<style lang="scss">
  @media only screen and (min-width: 1025px) {
    main {
      // max-width: 80%;
      margin: 0 auto;
    }
  }
</style>
