---
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/topBar/topBar.astro';
import Home from '../components/home.astro';
---

<Layout title="Edoardo Balzano">
	<TopBar></TopBar>
	<main>
		<Home/>
	</main>
</Layout>
