---
---

<div>
	<div class="barraSotto">
		<div class="wrapper">
			<div class="colonna">
				<span class="titolo"> Su di me</span>
				<span>elemento 1</span>
				<span>elemento 2</span>
				<span>elemento 3</span>
			</div>
		</div>
		<span class="citazione">fatto da Edoardo con il 💖</span>
	</div>
</div>

<style lang="scss">
	.barraSotto {
		background-color: var(--colore-barraSotto);
		color: white;
		padding: 2em;
	}

	.wrapper {
		display: flex;
	}

	.colonna {
		display: flex;
		flex-direction: column;
	}

	.titolo {
		font-size: 1.1em;
		font-weight: bold;
		margin-bottom: 0.5rem;
	}

	.citazione {
		font-size: 0.8rem;
		display: block;
		text-align: center;
		margin: 0 auto;
	}
</style>
