---
import { topBarImpostazioni } from "../settings/topBar";
---

<div>
  <div class="barraSotto">
    <div class="wrapper">
      <div class="colonna">
        <span class="titolo"> Mappa del sito</span>
        {
          topBarImpostazioni.elementiSinistra.map((elemento) => (
            <a class="links" href={elemento.link}>
              {elemento.testo}
            </a>
          ))
        }
      </div>
    </div>
    <span class="citazione">fatto da Edoardo con il 💖</span>
  </div>
</div>

<style lang="scss">
  @import "../scss/variabili.scss";

  .barraSotto {
    background-color: var(--colore-barraSotto);
    color: white;
    padding: 2em;
  }

  .wrapper {
    display: flex;
  }

  .colonna {
    display: flex;
    flex-direction: column;
  }

  .titolo {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .links {
    color: white;
    padding: 0.5em 1rem;
    transition: all $velocitaNormaleTransazione ease-in-out;
    background-color: inherit;
    border-radius: $bordiBottoni;
    margin-left: -1rem;
    border: 2px solid transparent;

    &:hover {
      background-color: rgba(white, 0.2);
      border: 2px solid white;
    }
  }

  .citazione {
    font-size: 0.8rem;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
</style>
