---
import { Image } from "@astrojs/image/components";
import miafoto from "../images/miaFoto.png";
import Bottone from "../components/bottoni/Bottone.astro";
---

<div class="wrapper">
  <div class="colonna1">
    <h1>Edoardo Balzano</h1>
    <span> Mi diverto a scrivere, prendo appunti e cerco di rendermi utile! 🤓</span>
    <div class="wrapperBottone">
      <Bottone link="/contatti" testo="Scopri di più 😊" />
    </div>
  </div>
</div>

<style lang="scss">
  .wrapper {
    padding: 4rem 1rem;
    display: flex;
    // flex: 1 1 auto;
  }

  .colonna1 {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
  }

  .wrapperBottone {
    max-width: 15rem;
    margin-top: 1rem;
  }

  @media only screen and (max-width: 769px) {
    .wrapperBottone {
      max-width: none;
      width: 100%;
    }
    .wrapper {
      padding: 1rem;
      flex-direction: column;
    }
  }
</style>
