@import "../scss/variabili.scss";

.lettereSconce {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: auto;
  line-height: 1.8rem;
  font-size: 0.7em;
  text-align: center;
  background: rgba($colorePrincipale, 0.2);
  border-radius: 4px;
  margin: 0.1rem;
  padding: 0.5rem 0.9rem;
}
