---
export interface Props {
  simboli: string[];
}
import "../scss/globale.scss";
const { simboli } = Astro.props;

import katex from "katex";
---

<table class="tabellaSimboli">
  <tr>
    <th>Simbolo</th>
    <th>Come è fatto</th>
  </tr>

  {
    simboli.map((simbolo) => (
      <tr>
        <td set:html={katex.renderToString(simbolo)} />
        <td>
          <code>${simbolo}$</code>
        </td>
      </tr>
    ))
  }

  <style>
    table {
      overflow: auto;
      display: block;
    }
  </style>

</table>
