.wrapper {
  background-color: rgba(255, 255, 255, 1);
  height: 100%;
  width: 100%;
}

.bottone {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.menu {
  display: flex;
  height: 100%;
  padding: 2rem 16px;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 2rem;
  text-transform: capitalize;
}
