---
export interface Props {
  testo: string;
  link: string;
}

const { testo, link } = Astro.props;
---

<div class="bottone">
  <a href={link}>
    {testo}
  </a>
</div>

<style lang="scss">
  @import "../../scss/variabili.scss";

  .bottone {
    max-width: fit-content;
    background-color: var(--colore-principale);

    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all $velocitaNormaleTransazione ease-in-out;
    border: var(--colore-principale) 4px solid;

    &:hover {
      border: var(--colore-principale) 4px solid;
      background-color: transparent;
      color: $colorePrincipale;
    }

    a {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden !important;
      font-size: 1rem;
      text-decoration: none;
      color: inherit;
      text-align: center;
      padding: 0.7rem 1.75rem;
    }
  }
</style>
