@import "./variabili.scss";

:root {
  --font-size-base: 16px;
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

  --colore-principale: #{$colorePrincipale};
  --colore-barraSotto: #{$coloreBarraSotto};

  --color-text: hsl(12, 5%, 4%);
  --color-bg: hsl(10, 21%, 95%);
  --color-border: hsl(17, 24%, 90%);
}

@font-face {
  font-family: ReadexPro;
  src: url("/fonts/ReadexPro-Regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ReadexPro;
  src: url("/fonts/ReadexPro-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  font-family: ReadexPro, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: var(--font-size-base);
  color: $coloreTesto;
  background-color: $coloreSfondo;

  &.night {
    background-color: $coloreSfondoScuro;
  }
}

h1 {
  color: $coloreEvidenziato;
  font-family: ReadexPro, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 0em;
  font-size: 2.5rem;
  margin-top: 0;
  line-height: 1.25em;
}

body {
  margin: 0;
  @include scuro {
    background-color: #181d16;
    color: $coloreTestoScuro;
  }
}

h2 {
  font-size: var(--font-size-lg);
  color: $coloreEvidenziato;
  margin-top: 0;
}

a {
  color: $coloreTesto;
}

p {
  color: $coloreTesto;
}

code,
pre {
  font-family: "Fira Code", Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  font-variant-ligatures: common-ligatures;
}

@media (prefers-color-scheme: light) {
  .shiki.dark-plus {
    // display: none;
  }
}
@media (prefers-color-scheme: dark) {
  .astro-code {
    // display: none;
  }
}

.astro-code {
  padding: 2rem 1.5rem;
  border: $coloreBordoGrigio 1px solid;
}

.codeInline {
  background-color: $coloreSfondoCode;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 95%;
  border-radius: 6px;
}

h2 {
  margin-top: 2em;
}

img {
  max-width: 100%;
}

h1,
h2,
p,
span {
  @include scuro {
    color: $coloreTestoScuro;
  }
}
