$colorePrincipale: #008000;
$coloreBarraSotto: darken($colorePrincipale, 15%);

$coloreTestoMoltoChiaro: rgb(82, 82, 82);
$coloreTesto: #475248;
$coloreEvidenziato: black;

$bordiBottoni: 5px;

$velocitaNormaleTransazione: 150ms;
