---
export interface Props {
  title: string;
}
import BottomBar from "../components/bottomBar.astro";
import "../scss/globale.scss";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <link
      rel="preload"
      href="/fonts/Geonik-Bold.woff2"
      as="font"
      crossorigin="anonymous"
    /> -->
    <link rel="preload" href="/fonts/georgia-regular.woff2" as="font" crossorigin="anonymous" />
    <!-- <link
      rel="preload"
      href="/fonts/Geonik-Regular.woff2"
      as="font"
      crossorigin="anonymous"
    /> -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <BottomBar />
  </body>
</html>
