---
export interface Props {
  title: string;
}
import BottomBar from "../components/bottomBar.astro";
import "../scss/globale.scss";
import "@fontsource/Figtree/400.css";
import "@fontsource/dm-mono";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <BottomBar />
  </body>
</html>
