---
export interface Props {
  titolo: string;
}
import BottomBar from "../components/bottomBar.astro";
import "../scss/globale.scss";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      href="/fonts/ReadexPro-bold.woff2"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/ReadexPro-Regular.woff2"
      as="font"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="portalNav"></div>
    <slot />
    <div class="footer">
      <BottomBar />
    </div>
    <style>
      body {
        width: 100%;
      }

      .footer {
        z-index: 100;
      }

      #portalNav {
        z-index: 101;
      }
    </style>
  </body>
</html>
