---
import Layout from "./Layout.astro";
import TopBar from "../components/topBar/topBar.astro";
import { SideBarHeadings } from "../components/sideBarHeading/sideBarHeadings";
import "../scss/remarkPlugin.scss";
import "../scss/appunti.scss";
import { RicercaAppunti } from "../components/topBar/ricercaAppunti";
import TestataPost from "../components/testataPost.astro";
import { creaAlbero } from "../functions/listaAppuntiV2";
import AlberoPost from "../components/alberoPost.astro";

const titolo: string = Astro.props.headings.filter(
	(titolo: any) => titolo.depth == 1
)[0].text;
const frontmatter = Astro.props.frontmatter;

const albero = await creaAlbero(Astro.url.pathname.split("/")[2]);
---

<Layout title={titolo}>
	<div class="wrapper">
		<div class="head"><TopBar /></div>
		<div class="content">
			<div class="sideDestro">
				<div class="destraProva">
					<AlberoPost albero={albero} />
				</div>
			</div>
			<div class="sideCentrale">
				<TestataPost titolo={titolo} />
				<slot />
			</div>
			<div class="sideSinistro"><SideBarHeadings client:idle /></div>
		</div>
	</div>
</Layout>

<link
	href="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.css"
	integrity="sha384-bYdxxUwYipFNohQlHt0bjN/LCpueqWz13HufFEV1SUatKs1cm4L6fFgCi1jT643X"
	crossorigin="anonymous"
	onload="this.onload=null;this.rel='stylesheet'"
	rel="preload"
	as="style"
/>

<style lang="scss">
	@import "../scss/variabili.scss";
	.wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100vh;

		&:before {
			content: "";
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -999;
			background-image: linear-gradient(
				mix($colorePrincipale, white, 03%),
				mix($colorePrincipale, white, 03%) calc(10rem),
				rgb(253, 254, 255)
			);
		}
	}

	.head {
		position: fixed;
		top: 0;
		width: 100%;
		background: white;
		z-index: 2;
	}

	.content {
		display: flex;
		justify-content: space-between;
		margin-top: $altezzaBarra;
	}

	.sideCentrale {
		flex-grow: 2;
		padding: 0 1.4em;
		width: 60%;
		padding: $altezzaBarra;
		flex: 1 1 auto;
		line-height: 1.75rem;
		text-align: justify;
	}

	.sideDestro,
	.sideSinistro {
		height: 100vh;
		width: 20%;
		position: sticky;
		height: calc(100vh - $altezzaBarra);
		overflow: auto;
		top: 60px;
	}

	.sideCentrale :global(*) {
		scroll-margin-top: 100px;
	}
</style>
