---
import TopBar from "../components/topBar/topBar.astro";
import Layout from "./Layout.astro";
import { SideBarHeadings } from "../components/sideBarHeading/sideBarHeadings";
import TabellaSimboli from "../components/tabellaSimboli.astro";

const titolo: string = Astro.props.headings.filter((titolo: any) => titolo.depth == 1)[0].text;
import "../scss/remarkPlugin.scss";
import shinki from "shiki";

// const tema = shinki.loadTheme("rose-pine");

shinki.getHighlighter({ theme: "css-variables" });
---

<link
  href="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.css"
  integrity="sha384-bYdxxUwYipFNohQlHt0bjN/LCpueqWz13HufFEV1SUatKs1cm4L6fFgCi1jT643X"
  crossorigin="anonymous"
  onload="this.onload=null;this.rel='stylesheet'"
  rel="preload"
  as="style"
/>

<Layout title={titolo}>
  <nav class="testa" id="barra">
    <TopBar />
  </nav>
  <main>
    <div class="main">
      <div class="articolo">
        <slot />
      </div>
      <div class="sideBar"><SideBarHeadings client:idle /></div>
    </div>
    <div>
      {
        Astro.props.frontmatter.formule.length > 0 ? (
          <TabellaSimboli simboli={Astro.props.frontmatter.formule} />
        ) : null
      }
    </div>
  </main>
</Layout>

<style lang="scss">
  @import "../scss/variabili.scss";

  main {
    @include paddingGenerale;
  }

  .testa {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: white;
  }

  .main {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    // max-width: 1100px;
  }

  .sideBar {
    position: sticky;
    top: $altezzaBarra;
    padding-bottom: 100px;
    padding: $paddingContenuto 2rem;
  }

  .articolo {
    flex: 1 1 auto;
    line-height: 1.75rem;
  }

  h2,
  h3 {
    scroll-margin-top: "10%";
  }

  @media only screen and (max-width: 768px) {
    .sideBar {
      display: none;
    }
  }
</style>
