<div class="wrapper">
  <div class="flex">
    <div class="colonnaTesto colonna">
      <h2>Per un Web Più veloce</h2>
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laborum architecto sint quos eligendi optio,
        ut fugit ducimus quasi mollitia nam illo explicabo, ea sunt temporibus, libero tempore labore rerum!</span
      >
    </div>
    <div class="colonnaSvg colonna">
      <div class="wrapperSvg">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="razzoSvg"
          xml:space="preserve"
          overflow="visible"
          viewBox="0 0 500 488.1"
        >
          <style>
            .st0 {
              fill: #d8d6d6;
            }
            .st1 {
              fill: #f6f6f6;
            }
            .st2 {
              fill: #ea5455;
            }
          </style>

          <g id="fumo">
            <path
              class="st0"
              d="M234.7 356.7 210 488.1H0V286.2c11.2-4.1 23.3-6.4 35.9-6.4 31.9 0 60.3 14.4 79.1 36.9 7.3-2.3 15-3.5 23.1-3.5 27 0 50.8 13.9 64.3 34.9.9 0 1.9-.1 2.9-.1 10.8 0 20.9 3.2 29.4 8.7zM500 294.2v.7c-.1.4-.1 1.2 0 2.4v190.9l-181.7-.2h-4.9l-15.6-100.1-4.9-31.2c2.5-2 5.2-3.7 8.1-5 5-2.4 10.5-3.7 16.2-3.7.8 0 1.6 0 2.4.1 11.2-21 30.9-34.9 53.3-34.9 6.7 0 13.1 1.2 19.2 3.5 5.8-15.1 51-29.8 64-30.8 20.7-1.5 42.8 3.8 43.9 8.3z"
            ></path>
            <path
              class="st1"
              d="m240.5 410.1-8.1 78.1L0 488.1V320.8c10.7-4.1 22.2-6.4 34.3-6.4 30.4 0 57.5 14.4 75.4 36.9 6.9-2.3 14.4-3.5 22.1-3.5 25.8 0 48.4 13.9 61.3 34.9.9 0 1.8-.1 2.7-.1 19.3-.1 36.1 11.1 44.7 27.5zM500 327.4v160.7H286.3l-7.7-78.4c2.8-6.1 6.6-11.4 11.1-15.7 2.5-2.4 5.2-4.4 8.1-6.1 2.5-1.5 5.1-2.6 7.8-3.5 3.7-1.2 7.6-1.8 11.6-1.8.8 0 1.6 0 2.4.1 11.2-21 30.8-34.9 53.2-34.9 6.7 0 13.1 1.2 19.2 3.5 15.5-22.5 39.1-36.9 65.5-36.9 8.5 0 29.7 7.8 42.5 13z"
            ></path>
          </g>
          <g id="fumoFermo">
            <path class="st0" d="m318.3 488-85 .1h-21.8l16-131.4.5.5 23.3-195.7h27.1l.7 5.7 22.6 190 .6-.6 16 131.4z"
            ></path>
            <path class="st1" d="M297.1 488.1h-63.8L257 171.9h15.7l18.2 238.2c0-.1.1-.2.1-.4l6.1 78.4z"></path>
          </g>
          <g id="razzo">
            <g id="XMLID_10_">
              <path id="XMLID_12_" class="st2" d="m341.4 201.1-21.9-17c-3.5 15.7-8.3 32.6-14.7 50.9l37.7 16.9-1.1-50.8z"
              ></path>
              <path id="XMLID_11_" class="st2" d="m194.6 193 23.6-14.5c1.8 16 4.7 33.4 9 52.2l-39.3 12.7 6.7-50.4z"
              ></path>
            </g>
            <g id="XMLID_7_">
              <path
                id="XMLID_9_"
                d="M293.9 271.3c-1.9 34.8-33.3 61.3-33.3 61.3s-28.3-29.8-26.4-64.6c.5-8.5 2.7-16.5 5.8-23.7l50.8 2.8c2.2 7.5 3.6 15.7 3.1 24.2z"
                fill="#e09a0e"></path>
              <path
                id="XMLID_8_"
                d="M261.4 316.4c8.4-9.4 20.6-26.3 21.7-45.7.2-4.3-.6-17.3-2.3-24.1l-15.5-.8-15.5-.8c-2.5 6.6-4.7 19.5-4.9 23.7-1.1 19.3 9.2 37.4 16.5 47.7z"
                fill="#ffb400"></path>
            </g>
            <path
              id="XMLID_6_"
              class="st2"
              d="M278.8 0s-25.7 11.5-44.2 49.1l41.4 2.3 41.4 2.3C303.1 14.2 278.8 0 278.8 0z"></path>
            <path
              id="XMLID_5_"
              class="st1"
              d="m304.8 235-77.6-4.3c-20.7-90.3-9.7-147 7.3-181.7l82.8 4.5c13.2 36.4 18 94-12.5 181.5z"></path>
            <g id="XMLID_2_">
              <path
                id="XMLID_4_"
                d="M310.4 111.8c-1.1 20.8-18.9 36.7-39.7 35.6s-36.7-19-35.6-39.7c1.1-20.8 18.9-36.7 39.7-35.6s36.8 18.9 35.6 39.7z"
                fill="#384f68"></path>
              <path
                id="XMLID_3_"
                d="M274.2 82.9c-14.8-.8-27.5 10.6-28.3 25.4-.8 14.8 10.6 27.5 25.4 28.3 14.8.8 27.5-10.6 28.3-25.4.9-14.8-10.5-27.5-25.4-28.3z"
                fill="#b5cde2"></path>
            </g>
            <path id="XMLID_1_" fill="#e2e2e2" d="m266 232.9-35.5-2 1.6 13 33.2 1.8 33.3 1.9 3-12.8z"></path>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  @import "../../scss/variabili.scss";

  .wrapper {
    padding: 5rem;
    @include paddingGenerale;
  }

  .flex {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #razzo,
  #fumo {
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 0.4));
  }

  #razzo {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }

  #fumoFermo {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.226));
  }

  .colonna {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }

  .razzoSvg {
    height: 100%;
    width: 100%;
    max-height: 400px;
  }

  .wrapperSvg {
    max-height: 400px;
  }

  @include tablet {
    .flex {
      flex-direction: column;
    }

    .colonnaSvg {
      margin: 5em 0;
    }
  }

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
</style>
